[Unit]
Description=Day of Infamy server (%i)
After=network.target

[Service]
Environment=LD_LIBRARY_PATH=%h/servers/dayofinfamy-%i:%h/servers/dayofinfamy-%i/bin
EnvironmentFile=%h/.config/systemd/user/doi-server@%i.env
WorkingDirectory=%h/servers/dayofinfamy-%i
ExecStartPre=%h/servers/doi-config/scripts/prepare_server.sh %h/servers/dayofinfamy-%i %i
ExecStart=%h/servers/dayofinfamy-%i/srcds_linux -game doi -usercon +maxplayers 64 +sv_lan 0 -workshop -port ${SERVER_PORT} +tv_port ${TV_PORT} -clientport ${CLIENT_PORT} +map \"${STARTUP_MAP}\" +sv_workshop_list_file \"${WORKSHOP_IDS_FILE}\" +r_hunkalloclightmaps 0 +mp_theater_override \"${THEATER}\" +sv_password \"${PASSWORD}\"
KillSignal=SIGINT
ReadWritePaths=%h/servers/dayofinfamy-%i
PrivateTmp=yes
PrivateDevices=yes
NoNewPrivileges=yes
ProtectSystem=strict
Restart=always
TimeoutStartSec=infinity

[Install]
WantedBy=default.target
