[Unit]
Description=Day of Infamy server (%i)
After=network.target

[Service]
Environment=LD_LIBRARY_PATH=/path/to/srcds/servers/dayofinfamy-%i:/path/to/srcds/servers/dayofinfamy-%i/bin
EnvironmentFile=/path/to/srcds/servers/systemd/%i.conf
WorkingDirectory=/path/to/srcds/servers/dayofinfamy-%i
ExecStartPre=/path/to/srcds/servers/doi-config/scripts/prepare_server.sh /path/to/srcds/servers/dayofinfamy-%i %i
ExecStart=/path/to/srcds/servers/dayofinfamy-%i/srcds_linux -game doi -usercon +maxplayers 64 +sv_lan 0 -workshop -port ${SERVER_PORT} +tv_port ${TV_PORT} -clientport ${CLIENT_PORT} +map \"${STARTUP_MAP}\" +sv_workshop_list_file \"${WORKSHOP_IDS_FILE}\" +r_hunkalloclightmaps 0 +mp_theater_override \"${THEATER}\" +sv_password \"${PASSWORD}\"
KillSignal=SIGINT
ReadWritePaths=/path/to/srcds/servers/dayofinfamy-%i
PrivateTmp=yes
PrivateDevices=yes
NoNewPrivileges=yes
ProtectSystem=strict
Restart=always
TimeoutStartSec=infinity

[Install]
WantedBy=default.target
